<%- layout("/layouts/boilerplate") %>

<body>
  <!--   <h1>Airvillas All Listings</h1> -->
  <!--<form action="/listings/new" method="get">
        <button>Create New listing</button>
    </form>-->
  <div class="filtersdiv">
    <div class="leftbtn" id="slideButton">
      <i class="fa-solid fa-angle-left"></i>
    </div>
    <div class="filters">
      <a href="/listings" class="filtertext">
        <div class="filter">
          <div><i class="fa-solid fa-fire"></i></div>
          <p>All</p>
        </div>
      </a>
      <a href="/listings/filter/Beachfront" class="filtertext">
        <div class="filter">
          <div><i class="fa-solid fa-umbrella-beach"></i></div>
          <p>Beachfront</p>
        </div>
      </a>
      <a href="/listings/filter/Cabins" class="filtertext">
        <div class="filter">
          <div><i class="fa-solid fa-house-chimney"></i></div>
          <p>Cabins</p>
        </div>
      </a>
      <a href="/listings/filter/Omg" class="filtertext">
        <div class="filter">
          <div><i class="fa-solid fa-bolt-lightning"></i></div>
          <p>OMG!</p>
        </div>
      </a>
      <a href="/listings/filter/Lake" class="filtertext">
        <div class="filter">
          <div><i class="fa-solid fa-water"></i></div>
          <p>Lake</p>
        </div>
      </a>
      <a href="/listings/filter/Design" class="filtertext">
        <div class="filter">
          <div><i class="fa-solid fa-drafting-compass"></i></div>
          <p>Design</p>
        </div>
      </a>
      <a href="/listings/filter/Amazing Pools" class="filtertext">
        <div class="filter">
          <div><i class="fa-solid fa-swimmer"></i></div>
          <p>Amazing pools</p>
        </div>
      </a>
      <a href="/listings/filter/Farms" class="filtertext">
        <div class="filter">
          <div><i class="fa-solid fa-tractor"></i></div>
          <p>Farms</p>
        </div>
      </a>
      <a href="/listings/filter/Amazing Views" class="filtertext">
        <div class="filter">
          <div><i class="fa-solid fa-binoculars"></i></div>
          <p>Amazing views</p>
        </div>
      </a>
      <a href="/listings/filter/Rooms" class="filtertext">
        <div class="filter">
          <div><i class="fa-solid fa-door-open"></i></div>
          <p>Rooms</p>
        </div>
      </a>
      <a href="/listings/filter/Lakefront" class="filtertext">
        <div class="filter">
          <div><i class="fa-solid fa-anchor"></i></div>
          <p>Lakefront</p>
        </div>
      </a>
      <a href="/listings/filter/Tiny Homes" class="filtertext">
        <div class="filter">
          <div><i class="fa-solid fa-house"></i></div>
          <p>Tiny homes</p>
        </div>
      </a>
      <a href="/listings/filter/Countryside" class="filtertext">
        <div class="filter">
          <div><i class="fa-solid fa-tree"></i></div>
          <p>Countryside</p>
        </div>
      </a>
      <a href="/listings/filter/Treehouse" class="filtertext">
        <div class="filter">
          <div><i class="fa-solid fa-tree"></i></div>
          <p>Treehouse</p>
        </div>
      </a>
      <a href="/listings/filter/Trending" class="filtertext">
        <div class="filter">
          <div><i class="fa-solid fa-chart-line"></i></div>
          <p>Trending</p>
        </div>
      </a>
      <a href="/listings/filter/Tropical" class="filtertext">
        <div class="filter">
          <div><i class="fa-solid fa-umbrella-beach"></i></div>
          <p>Tropical</p>
        </div>
      </a>
      <a href="/listings/filter/National Parks" class="filtertext">
        <div class="filter">
          <div><i class="fa-solid fa-mountain"></i></div>
          <p>National parks</p>
        </div>
      </a>
      <a href="/listings/filter/Castles" class="filtertext">
        <div class="filter">
          <div><i class="fa-solid fa-fort-awesome"></i></div>
          <p>Castles</p>
        </div>
      </a>
      <a href="/listings/filter/Camping" class="filtertext">
        <div class="filter">
          <div><i class="fa-solid fa-campground"></i></div>
          <p>Camping</p>
        </div>
      </a>
      <a href="/listings/filter/Top Of The World" class="filtertext">
        <div class="filter">
          <div><i class="fa-solid fa-globe"></i></div>
          <p>Top of the world</p>
        </div>
      </a>
      <a href="/listings/filter/Luxe" class="filtertext">
        <div class="filter">
          <div><i class="fa-solid fa-gem"></i></div>
          <p>Luxe</p>
        </div>
      </a>
      <a href="/listings/filter/Iconic Cities" class="filtertext">
        <div class="filter">
          <div><i class="fa-solid fa-city"></i></div>
          <p>Iconic cities</p>
        </div>
      </a>
      <a href="/listings/filter/Earth Homes" class="filtertext">
        <div class="filter">
          <div><i class="fa-solid fa-earth-americas"></i></div>
          <p>Earth homes</p>
        </div>
      </a>
    </div>
    
    <div class="rightbtn" id="slideButton">
      <i class="fa-solid fa-angle-right"></i>
    </div>
    <div class="tax-toggle">
      <div class="form-check-reverse form-switch tooglediv2">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label changetext" for="flexSwitchCheckDefault"> Display total before taxes</label>
        <p style="display: none;">total before takes</p>
      </div>
    </div>
  </div>

  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-2 allimgs">
    <% for(let listing of allListings){ %>

    <div class="card col listing-card">
      <a href="/listings/<%= listing._id %>" class="listing-link">
        <img
          src="<%=listing.image.url%>"
          class="card-img-top"
          alt="listing_image"
          style="height: 20rem;" 
      /></a>
      <div class="card-body listingtitle">
        <p class="card-text titlecard"><b> <%=listing.title%> </b></p>
        <p class="card-text"> <i>Location:</i><b> <%=listing.location%> </b></p>
        <p class="card-text">
          <p class="displayprice">&#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") :"Price not available" %> /night + 18% GST</p> <i class="taxinfo"> &#8377;<%= listing.price ? (listing.price * 1.18).toLocaleString("en-IN") :"Price not available" %></i>
        </p>
      </div>
    </div>
    <% } %>
  </div>
</body>

<script src="/js/filtertax.js"></script>
<script src="/js/filters.js"></script>
